<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AudioBat - Procesamiento de Audio</title>
</head>
<body>
    <h1>Subir archivo de audio para procesar</h1>
    <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="audio_file" required>
        <input type="submit" value="Subir y Procesar">
    </form>
    
    <h2>Descargar Resultados</h2>
    <p>Después de subir el archivo, podrás descargar los resultados aquí:</p>
    <form action="{{ url_for('download', audio_filename='nombre_del_archivo.wav') }}" method="get">
        <label for="filename">Nombre del archivo (ejemplo.wav):</label>
        <input type="text" id="filename" name="filename">
        <button type="submit">Descargar ZIP</button>
    </form>
</body>
</html>
